{% extends "base.html" %}
{% load bootstrap5 %}

{% block title %}Create New Journal Entry!{% endblock %}

{% block content %}
<div class="container mt-3">
    <h1>Create a New Project</h1>
    <p>Fill out the form below to start a new journal entry.</p>

    <form method="post" action="{% url 'create_project' %}">
        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary btn-block">Create Journal Entry</button>
        </div>
    </form>

</div>
{% endblock %}