{% extends 'base.html' %}

{% block title %}Projects{% endblock %}

{% block styles %}
    .container {
        padding: 2rem;
        max-width: 800px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h2 {
        text-align: center;
        margin-bottom: 1rem;
        color: #343a40;
    }
    .list-group-item {
        margin-bottom: 1rem;
        padding: 1.5rem;
        border-radius: 8px;
        background-color: #babfc4;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
    .vote-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .empty-state {
        text-align: center;
        padding: 2rem;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Joined Projects</h2>
    {% if projects %}
        <div class="list-group mt-3">
            {% for project in projects %}
                <div class="list-group-item">
                    <a href="{% url 'project_detail' project.id %}" class="text-dark text-decoration-none">
                        <h5 class="mb-2">{{ project.title }}</h5>
                        <p class="mb-1">{{ project.description|truncatewords:15 }}</p>
                        <small>Joined on: {{ project.creation_date|date:"Y-m-d" }}</small>
                    </a>
                     <div class="vote-container mt-2">
                        <a href="{% url 'project_detail' project.id %}" class="btn btn-primary">View Project</a>
                        <div>
                            <button class="btn {% if project.user_vote == 0 or project.user_vote == -1 %} btn-outline-success {% else %} btn-success {% endif %} vote-button" id="upvote-{{ project.id }}" data-project-id="{{ project.id }}" data-vote-type="up">👍</button>
                            <button class="btn {% if project.user_vote == 0 or project.user_vote == 1 %} btn-outline-danger {% else %} btn-danger {% endif %} vote-button" id="downvote-{{ project.id }}" data-project-id="{{ project.id }}" data-vote-type="down">👎</button>
                            <span id="voteCount{{ project.id }}" class="badge bg-secondary">{{ project.votes|default:0 }}</span>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info mt-3">
            You have not joined any projects yet. <a href="{% url 'project_list' %}" class="btn btn-primary btn-sm">Explore projects</a>
        </div>
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const voteButtons = document.querySelectorAll('.vote-button');
    
        voteButtons.forEach(button => {
            button.addEventListener('click', function(e) {
                e.preventDefault();
                const projectId = this.dataset.projectId;
                const voteType = this.dataset.voteType;
                const voteCountDisplay = document.getElementById(`voteCount${projectId}`);
                let voteModelType = "";
                
                let isUpvoted = false;
                let isDownvoted = false;
    
                if (voteType === 'up') {
                    if (button.classList.contains("btn-success"))
                        isUpvoted = true;
                } else if (voteType === 'down') {
                    if (button.classList.contains("btn-danger"))
                        isDownvoted = true;
                }
    
                let currentVotes = parseInt(voteCountDisplay.textContent) || 0;
    
    
                if (voteType === 'up' && !isUpvoted) {
                    voteCountDisplay.textContent = currentVotes + 1;
                    voteModelType = "up";
                    if (button.classList.contains("btn-outline-success"))
                        button.classList.remove("btn-outline-success");
                    button.classList.add("btn-success");
                    if (document.getElementById(`downvote-${projectId}`).classList.contains("btn-danger")) {
                        document.getElementById(`downvote-${projectId}`).classList.add("btn-outline-danger");
                        document.getElementById(`downvote-${projectId}`).classList.remove("btn-danger");
                        voteCountDisplay.textContent = currentVotes + 2;
                        voteModelType = "clear_down_up";
                    }
    
                } else if (voteType === 'down' && isDownvoted) {
                    voteCountDisplay.textContent = currentVotes + 1;
                    voteModelType = "clear_down";
                    if (button.classList.contains("btn-danger"))
                        button.classList.remove("btn-danger");
                    button.classList.add("btn-outline-danger");
    
                } else if (voteType === 'up' && isUpvoted) {
                    voteCountDisplay.textContent = currentVotes - 1;
                    voteModelType = "clear_up";
                    button.classList.add("btn-outline-success");
                    if (button.classList.contains("btn-success"))
                        button.classList.remove("btn-success");
    
                } else if (voteType === 'down' && !isDownvoted) {
                    voteCountDisplay.textContent = currentVotes - 1;
                    voteModelType = "down";
                    if (button.classList.contains("btn-outline-danger"))
                        button.classList.remove("btn-outline-danger");
                    button.classList.add("btn-danger");
                    if (document.getElementById(`upvote-${projectId}`).classList.contains("btn-success")) {
                        document.getElementById(`upvote-${projectId}`).classList.add("btn-outline-success");
                        document.getElementById(`upvote-${projectId}`).classList.remove("btn-success");
                        voteCountDisplay.textContent = currentVotes - 2;
                        voteModelType = "clear_up_down"
                    }
                }
    
                
    
                fetch(`/project/vote/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ project_id: projectId, vote_type: voteModelType }),
                })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        voteCountDisplay.textContent = data.votes;
                    } else {
                        voteCountDisplay.textContent = currentVotes;
                    }
                })
                .catch(error => {
                    voteCountDisplay.textContent = currentVotes;
                });
            });
        });
    });
    
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    </script>
{% endblock %}
